@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #1E1830;
}

li, a {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: #ffffff;
  text-decoration: none;
}

header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0px 10%;
  background-color: #1E1830;
}

.logo {
  cursor: pointer;
  margin-right: auto;
}

.img {
  width: 50px;  
  height: auto; 
}

.linkedin {
  width: 20px;  
  height: auto; 
  margin-left: 20px;
}

.navLinks {
  list-style: none;
}

.navLinks li {
  display: inline-block;
  padding: 0px 20px;
}

.navLinks li a {
  transition: all 0.5 ease 0.5s;
}

.navLinks li a:hover {
  color: #F54768;
}