@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Roboto:wght@100;400;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}

.navbar {
  position: fixed;
  max-width: 100%;
  width: 100%;
  top: 0;
  z-index: 10;
}

.homepage {
  background-color: #1E1830;
}

.contact {
  background-color: #1E1830;
}

.experience {
  background-color: #FAF8FB;
}

.involvement {
  background-color: white;
}

.container {
  margin: 0 10%;
}

.contact-logo {
  padding-top: 10%;
  padding-bottom: 20px;
}

.container-2 {
  margin: 0 2%;
  text-align: left;
  padding-left: 2%;
  padding-top: 2%;
  padding-bottom: 2%;
  border-left: 1px solid #F54768;
}

h3 {
  font-family: "Roboto", sans-serif;
  color: white;
  font-weight: 100;
  font-size: 24px;
  max-width: 60%;
}

.involvement-container {
  justify-content: center;
  display: flex;
  padding: 20px;
  flex-wrap: wrap;
}


.home {
  margin-right: auto;
  text-align: left;
  padding: 18% 20px 20px 20px;
  color: #F54768;
  font-size: 64px;
}

.involvement-h1 {
  margin-right: auto;
  text-align: center;
  padding: 18% 20px 20px 20px;
  color: #F54768;
  font-size: 64px;
}

.home-2 {
  margin-right: auto;
  text-align: left;
  padding: 20px 20px 20px 20px;
  color: #F54768;
  font-size: 64px;
}

li, .navbar-a {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: #ffffff;
  text-decoration: none;
}

header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0px 10%;
  background-color: #1E1830;
}

.logo {
  cursor: pointer;
  margin-right: auto;
}

.img {
  width: 50px;  
  height: auto; 
}

.linkedin {
  width: 20px;  
  height: auto; 
  margin-left: 20px;
}

.navLinks {
  list-style: none;
}

.navLinks li {
  display: inline-block;
  padding: 0px 20px;
}

.navLinks li a {
  transition: all 0.5 ease 0.5s;
}

.navLinks li a:hover {
  color: #F54768;
}

.shadow {
  position: relative;
  box-shadow: 0 1px 4px rgba(0,0,0,0.3), 0 0 40px rgba(0,0,0,0.1) inset;
}

.shadow:before,
.shadow:after{
  content: '';
  position: absolute;
  z-index: -1;
  box-shadow: 0 0 20px rgba(0,0,0,0.8);
  top: 50%;
  bottom: 0;
  left: 10px;
  right: 10px;
  border-radius: 100px/10px;
}

hr {
  border: none;
  height: 1px;
  margin-top: 2%;
  background-color: #5C507B;
}

.right-text {
  font-size: 10px;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  color: white;
  padding: 20px;
  margin-left: auto;
  text-align: right;
}

.bottom-text {
  font-size: 10px;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  color: white;
  margin: 15% 20px 4px 20px;
  text-align: center;
}

.line {
  color: #5C507B;
}

.bottom-text2 {
  font-size: 10px;
  font-family: "Roboto", sans-serif;
  color: #F54768;
  margin: 20px 20px 4px 20px;
  text-align: center;
}

.line2 {
  color: #F54768;
}

.img-experience {
  position: relative;
  left: -5%;
  padding: 20px;
}

.image-text {
  position: absolute;
  top: 10%;
  left: 4%;
}

.img-pointer {
  cursor: pointer;
}

h2 {
  color: #F54768;
  font-size: 32px;
  padding-bottom: 4px;
}

.involvement-h {
  color: #1E1830;
  text-align: left;
  padding-left: 2%;
}

h4 {
  color: white;
  font-size: 24px;
}

h5 {
  color: white;
}

.h-container {
  padding-top: 10px;
  padding-bottom: 15px;
}

.img-involvement {
  margin: 20px;
  position: relative;
  box-shadow: 0 1px 4px rgba(0,0,0,0.3), 0 0 40px rgba(0,0,0,0.1) inset;
}

.contacts {
  display: flex;
  justify-content: center;
  padding: 10px 0;
}

.contacts-h5 {
  font-family: "Roboto", sans-serif;
  padding: 0 2%;
  font-size: 14px;
  color: white;
}

.end {
  padding-bottom: 5%;
}

a {
  text-decoration: none;
}